/*
-moz
---------------------------------------------------------------------------------------------------- */
@-moz-keyframes bounce {
  0% {
    -moz-animation-timing-function: ease-in;
    opacity: 0;
    -moz-transform: translatey(-200%);
  }
  30% {
    -moz-animation-timing-function: ease-out;
    opacity: 1;
    -moz-transform: translatey(0);
  }
  50% {
    -moz-animation-timing-function: ease-in;
    -moz-transform: translatey(-40%);
  }
  70% {
    -moz-animation-timing-function: ease-out;
    -moz-transform: translatey(0);
  }
  80% {
    -moz-animation-timing-function: ease-in;
    -moz-transform: translatey(-20%);
  }
  90% {
    -moz-animation-timing-function: ease-out;
    -moz-transform: translatey(0);
  }
  95% {
    -moz-animation-timing-function: ease-in;
    -moz-transform: translatey(-10%);
  }
  100% {
    -moz-transform: none;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes pivot-in {
  0% {
    opacity: 0;
    -moz-transform: rotate(-90deg);
  }
  50%,
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pivot-out {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(-90deg);
    visibility: hidden;
  }
}
@-moz-keyframes pop {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  85% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes puff {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
    visibility: hidden;
  }
}
@-moz-keyframes scale-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes scale-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0);
    visibility: hidden;
  }
}
@-moz-keyframes slide-down-in {
  0% {
    opacity: 0;
    -moz-transform: translatey(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes slide-down-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: translatey(100%);
    visibility: hidden;
  }
}
@-moz-keyframes slide-left-in {
  0% {
    opacity: 0;
    -moz-transform: translatex(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes slide-left-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: translatex(-100%);
    visibility: hidden;
  }
}
@-moz-keyframes slide-right-in {
  0% {
    opacity: 0;
    -moz-transform: translatex(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes slide-right-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: translatex(100%);
    visibility: hidden;
  }
}
@-moz-keyframes slide-up-in {
  0% {
    opacity: 0;
    -moz-transform: translatey(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes slide-up-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: translatey(-100%);
    visibility: hidden;
  }
}
@-moz-keyframes shake-horizontal {
  0%,
  100% {
    -moz-transform: none;
  }
  10%,
  42%,
  74% {
    -moz-transform: translatex(5%);
  }
  26%,
  58%,
  90% {
    -moz-transform: translatex(-5%);
  }
}
@-moz-keyframes shake-vertical {
  0%,
  100% {
    -moz-transform: none;
  }
  10%,
  42%,
  74% {
    -moz-transform: translatey(5%);
  }
  26%,
  58%,
  90% {
    -moz-transform: translatey(-5%);
  }
}
@-moz-keyframes toss-in {
  0% {
    opacity: 0;
    -moz-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes toss-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
    visibility: hidden;
  }
}
@-moz-keyframes twirl-in {
  0% {
    opacity: 0;
    -moz-transform: rotate(-720deg) scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-moz-keyframes twirl-out {
  0% {
    opacity: 1;
    -moz-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(720deg) scale(0.5);
    visibility: hidden;
  }
}
@-moz-keyframes wiggle {
  0%,
  100% {
    -moz-transform: none;
  }
  10%,
  42%,
  74% {
    -moz-transform: rotate(1deg) translatex(1%);
  }
  26%,
  58%,
  90% {
    -moz-transform: rotate(-1deg) translatex(-1%);
  }
}
/*
-webkit
---------------------------------------------------------------------------------------------------- */
@-webkit-keyframes bounce {
  0% {
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: translatey(-200%);
  }
  30% {
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translatey(0);
  }
  50% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: translatey(-40%);
  }
  70% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translatey(0);
  }
  80% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: translatey(-20%);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translatey(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: translatey(-10%);
  }
  100% {
    -webkit-transform: none;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes pivot-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-90deg);
  }
  50%,
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pivot-out {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg);
    visibility: hidden;
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes puff {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    visibility: hidden;
  }
}
@-webkit-keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes scale-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    visibility: hidden;
  }
}
@-webkit-keyframes slide-down-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes slide-down-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatey(100%);
    visibility: hidden;
  }
}
@-webkit-keyframes slide-left-in {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes slide-left-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(-100%);
    visibility: hidden;
  }
}
@-webkit-keyframes slide-right-in {
  0% {
    opacity: 0;
    -webkit-transform: translatex(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes slide-right-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(100%);
    visibility: hidden;
  }
}
@-webkit-keyframes slide-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes slide-up-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatey(-100%);
    visibility: hidden;
  }
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: none;
  }
  10%,
  42%,
  74% {
    -webkit-transform: translatex(5%);
  }
  26%,
  58%,
  90% {
    -webkit-transform: translatex(-5%);
  }
}
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: none;
  }
  10%,
  42%,
  74% {
    -webkit-transform: translatey(5%);
  }
  26%,
  58%,
  90% {
    -webkit-transform: translatey(-5%);
  }
}
@-webkit-keyframes toss-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes toss-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
    visibility: hidden;
  }
}
@-webkit-keyframes twirl-in {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-720deg) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-webkit-keyframes twirl-out {
  0% {
    opacity: 1;
    -webkit-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.5);
    visibility: hidden;
  }
}
@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: none;
  }
  10%,
  42%,
  74% {
    -webkit-transform: rotate(1deg) translatex(1%);
  }
  26%,
  58%,
  90% {
    -webkit-transform: rotate(-1deg) translatex(-1%);
  }
}
/*
-ms
---------------------------------------------------------------------------------------------------- */
@-ms-keyframes bounce {
  0% {
    -ms-animation-timing-function: ease-in;
    opacity: 0;
    -ms-transform: translatey(-200%);
  }
  30% {
    -ms-animation-timing-function: ease-out;
    opacity: 1;
    -ms-transform: translatey(0);
  }
  50% {
    -ms-animation-timing-function: ease-in;
    -ms-transform: translatey(-40%);
  }
  70% {
    -ms-animation-timing-function: ease-out;
    -ms-transform: translatey(0);
  }
  80% {
    -ms-animation-timing-function: ease-in;
    -ms-transform: translatey(-20%);
  }
  90% {
    -ms-animation-timing-function: ease-out;
    -ms-transform: translatey(0);
  }
  95% {
    -ms-animation-timing-function: ease-in;
    -ms-transform: translatey(-10%);
  }
  100% {
    -ms-transform: none;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-ms-keyframes pivot-in {
  0% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
  }
  50%,
  100% {
    opacity: 1;
  }
}
@-ms-keyframes pivot-out {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
    visibility: hidden;
  }
}
@-ms-keyframes pop {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
  }
  85% {
    opacity: 1;
    -ms-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes puff {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: scale(1.5);
    visibility: hidden;
  }
}
@-ms-keyframes scale-in {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes scale-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: scale(0);
    visibility: hidden;
  }
}
@-ms-keyframes slide-down-in {
  0% {
    opacity: 0;
    -ms-transform: translatey(-100%);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes slide-down-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: translatey(100%);
    visibility: hidden;
  }
}
@-ms-keyframes slide-left-in {
  0% {
    opacity: 0;
    -ms-transform: translatex(-100%);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes slide-left-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: translatex(-100%);
    visibility: hidden;
  }
}
@-ms-keyframes slide-right-in {
  0% {
    opacity: 0;
    -ms-transform: translatex(100%);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes slide-right-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: translatex(100%);
    visibility: hidden;
  }
}
@-ms-keyframes slide-up-in {
  0% {
    opacity: 0;
    -ms-transform: translatey(100%);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes slide-up-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: translatey(-100%);
    visibility: hidden;
  }
}
@-ms-keyframes shake-horizontal {
  0%,
  100% {
    -ms-transform: none;
  }
  10%,
  42%,
  74% {
    -ms-transform: translatex(5%);
  }
  26%,
  58%,
  90% {
    -ms-transform: translatex(-5%);
  }
}
@-ms-keyframes shake-vertical {
  0%,
  100% {
    -ms-transform: none;
  }
  10%,
  42%,
  74% {
    -ms-transform: translatey(5%);
  }
  26%,
  58%,
  90% {
    -ms-transform: translatey(-5%);
  }
}
@-ms-keyframes toss-in {
  0% {
    opacity: 0;
    -ms-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes toss-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(45deg) scale(0.5) translate(200%, -200%);
    visibility: hidden;
  }
}
@-ms-keyframes twirl-in {
  0% {
    opacity: 0;
    -ms-transform: rotate(-720deg) scale(0.5);
  }
  100% {
    opacity: 1;
    -ms-transform: none;
  }
}
@-ms-keyframes twirl-out {
  0% {
    opacity: 1;
    -ms-transform: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(720deg) scale(0.5);
    visibility: hidden;
  }
}
@-ms-keyframes wiggle {
  0%,
  100% {
    -ms-transform: none;
  }
  10%,
  42%,
  74% {
    -ms-transform: rotate(1deg) translatex(1%);
  }
  26%,
  58%,
  90% {
    -ms-transform: rotate(-1deg) translatex(-1%);
  }
}
.animations {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.animations.bounce {
  -webkit-animation: bounce 1s both;
  -moz-animation: bounce 1s both;
  animation: bounce 1s both;
  visibility: hidden;
}
.animations.bounce.running {
  visibility: visible;
}
.animations.fade.in {
  -webkit-animation: fade-in 0.5s both;
  -moz-animation: fade-in 0.5s both;
  animation: fade-in 0.5s both;
}
.animations.fade.out {
  -webkit-animation: fade-out 0.5s both;
  -moz-animation: fade-out 0.5s both;
  animation: fade-out 0.5s both;
}
.animations.in {
  visibility: hidden;
}
.animations.in.running {
  visibility: visible;
}
.animations.out {
  visibility: visible;
}
.animations.out.running {
  visibility: hidden;
}
.animations.pivot {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.animations.pivot.in {
  -webkit-animation: pivot-in 0.7s ease-in-out both;
  -moz-animation: pivot-in 0.7s ease-in-out both;
  animation: pivot-in 0.7s ease-in-out both;
}
.animations.pivot.out {
  -webkit-animation: pivot-out 0.7s ease-in-out both;
  -moz-animation: pivot-out 0.7s ease-in-out both;
  animation: pivot-out 0.7s ease-in-out both;
}
.animations.pop {
  -webkit-animation: pop 0.5s both;
  -moz-animation: pop 0.5s both;
  animation: pop 0.5s both;
  visibility: hidden;
}
.animations.pop.running {
  visibility: visible;
}
.animations.puff {
  -webkit-animation: puff 0.7s cubic-bezier(0, 1, 1, 1) both;
  -moz-animation: puff 0.7s cubic-bezier(0, 1, 1, 1) both;
  animation: puff 0.7s cubic-bezier(0, 1, 1, 1) both;
  visibility: visible;
}
.animations.puff.running {
  visibility: hidden;
}
.animations.running {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.animations.scale.in {
  -webkit-animation: scale-in 0.5s ease-out both;
  -moz-animation: scale-in 0.5s ease-out both;
  animation: scale-in 0.5s ease-out both;
}
.animations.scale.out {
  -webkit-animation: scale-out 0.5s ease-in both;
  -moz-animation: scale-out 0.5s ease-in both;
  animation: scale-out 0.5s ease-in both;
}
.animations.slide-down.in {
  -webkit-animation: slide-down-in 0.5s both;
  -moz-animation: slide-down-in 0.5s both;
  animation: slide-down-in 0.5s both;
}
.animations.slide-down.out {
  -webkit-animation: slide-down-out 0.5s both;
  -moz-animation: slide-down-out 0.5s both;
  animation: slide-down-out 0.5s both;
}
.animations.slide-left.in {
  -webkit-animation: slide-left-in 0.5s both;
  -moz-animation: slide-left-in 0.5s both;
  animation: slide-left-in 0.5s both;
}
.animations.slide-left.out {
  -webkit-animation: slide-left-out 0.5s both;
  -moz-animation: slide-left-out 0.5s both;
  animation: slide-left-out 0.5s both;
}
.animations.slide-right.in {
  -webkit-animation: slide-right-in 0.5s both;
  -moz-animation: slide-right-in 0.5s both;
  animation: slide-right-in 0.5s both;
}
.animations.slide-right.out {
  -webkit-animation: slide-right-out 0.5s both;
  -moz-animation: slide-right-out 0.5s both;
  animation: slide-right-out 0.5s both;
}
.animations.slide-up.in {
  -webkit-animation: slide-up-in 0.5s both;
  -moz-animation: slide-up-in 0.5s both;
  animation: slide-up-in 0.5s both;
}
.animations.slide-up.out {
  -webkit-animation: slide-up-out 0.5s both;
  -moz-animation: slide-up-out 0.5s both;
  animation: slide-up-out 0.5s both;
}
.animations.shake.horizontal {
  -webkit-animation: shake-horizontal 0.5s both;
  -moz-animation: shake-horizontal 0.5s both;
  animation: shake-horizontal 0.5s both;
}
.animations.shake.vertical {
  -webkit-animation: shake-vertical 0.5s both;
  -moz-animation: shake-vertical 0.5s both;
  animation: shake-vertical 0.5s both;
}
.animations.toss {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}
.animations.toss.in {
  -webkit-animation: toss-in 0.5s ease-in-out both;
  -moz-animation: toss-in 0.5s ease-in-out both;
  animation: toss-in 0.5s ease-in-out both;
}
.animations.toss.out {
  -webkit-animation: toss-out 0.5s ease-in-out both;
  -moz-animation: toss-out 0.5s ease-in-out both;
  animation: toss-out 0.5s ease-in-out both;
}
.animations.twirl.in {
  -webkit-animation: twirl-in 1s cubic-bezier(0, 0, 0, 1) both;
  -moz-animation: twirl-in 1s cubic-bezier(0, 0, 0, 1) both;
  animation: twirl-in 1s cubic-bezier(0, 0, 0, 1) both;
}
.animations.twirl.out {
  -webkit-animation: twirl-out 1s cubic-bezier(0, 0, 1, 0) both;
  -moz-animation: twirl-out 1s cubic-bezier(0, 0, 1, 0) both;
  animation: twirl-out 1s cubic-bezier(0, 0, 1, 0) both;
}
.animations.wiggle {
  -webkit-animation: wiggle 0.7s;
  -moz-animation: wiggle 0.7s;
  animation: wiggle 0.7s;
}
